@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --accent-foreground: 0 0% 9%;
        --accent: 0 0% 96.1%;
        --background: 0 0% 100%;
        --border: 0 0% 89.8%;
        --card-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --destructive-foreground: 0 0% 98%;
        --destructive: 0 84.2% 60.2%;
        --foreground: 0 0% 3.9%;
        --input: 0 0% 89.8%;
        --muted-foreground: 0 0% 45.1%;
        --muted: 0 0% 96.1%;
        --popover-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --primary-foreground: 0 0% 98%;
        --primary: 0 0% 9%;
        --radius: 0.5rem;
        --ring: 0 0% 3.9%;
        --secondary-foreground: 0 0% 9%;
        --secondary: 0 0% 96.1%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-background: 0 0% 98%;
        --sidebar-border: 220 13% 91%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --accent-foreground: 0 0% 98%;
        --accent: 0 0% 14.9%;
        --background: 0 0% 3.9%;
        --border: 0 0% 14.9%;
        --card-foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --destructive-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --foreground: 0 0% 98%;
        --input: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --muted: 0 0% 14.9%;
        --popover-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --primary-foreground: 0 0% 9%;
        --primary: 0 0% 98%;
        --ring: 0 0% 83.1%;
        --secondary-foreground: 0 0% 98%;
        --secondary: 0 0% 14.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
